.header {
    width: 100%;
    height: 60px;
    padding: 10px 0px;
    background-color: #000;
    display: flex;
    justify-content: space-around;
}

.header-text {
    color: #fff;
    margin-right: 80px;
}

.keyword-input {
    width: 420px;
    height: 35px;
    background-color: #fff;
}

.main {
    width: 100%;
}

.inner-header {
    text-align: center;
    margin-top: 70px;
}

.content {
    width: 85%;
    margin: 0 auto;
}

.link {
    display: flex;
}

.logout {
    color: #fff;
}

.logout-form {
    margin-right: 30px;
}

.mypage-form {
    margin-right: 30px;
}

.mypage-text {
    color: #fff;
}

.sell-from {
    margin-right: 30px;
}

.sell-btn {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 2px;
}

.sell-txt {
    color: #000;
}