.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.verification {
    display: block;
    height: 50px;
    width: 200px;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    color: #000;
    background-color: #D9D9D9;
    text-decoration: none;

}

.verification {
    margin-top: 20px;
}

.resend {
    margin-top: 20px;
    color: #3F96D8
}