.tab {
    display: flex;
    border-bottom: 1px solid #000;
}



.container {
    width: 100%;
}

.group {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.compartment {
    list-style: none;
    width: 24%;
    margin-right: 10px;
    margin-bottom: 20px;
}

.item {
    text-decoration: none;
}