.checkbox-group {
    display: flex;
    flex-wrap: wrap;
}

.btn-label-fashion {
    display: block;
    width: 70px;
    height: 20px;
    background-color: #FFF;
    text-align: center;
    border-radius: 100vh;
    border: 3px solid #FF5555;
    cursor: pointer;
}

.btn-label-fashion::before {
    content: "ファッション";
    font-size: 10px;
    color: #FF5555;
}

.checkbox-fashion {
    display: none;
}

.checkbox-fashion:checked+.btn-label-fashion {
    background-color: #FF5655;
}

.checkbox-fashion:checked+.btn-label-fashion::before {
    color: #FFF;
}

.btn-label-home-appliance {
    display: block;
    width: 70px;
    height: 20px;
    background-color: #FFF;
    text-align: center;
    border-radius: 100vh;
    border: 3px solid #FF5555;
    cursor: pointer;
    margin-left: 10px;
}

.btn-label-home-appliance::before {
    content: "家電";
    font-size: 10px;
    color: #FF5555;
}

.checkbox-home-appliance {
    display: none;
}

.checkbox-home-appliance:checked+.btn-label-home-appliance {
    background-color: #FF5655;
}

.checkbox-home-appliance:checked+.btn-label-home-appliance::before {
    color: #FFF;
}

.btn-label-interior {
    display: block;
    width: 70px;
    height: 20px;
    background-color: #FFF;
    text-align: center;
    border-radius: 100vh;
    border: 3px solid #FF5555;
    cursor: pointer;
    margin-left: 10px;
}

.btn-label-interior::before {
    content: "インテリア";
    font-size: 10px;
    color: #FF5555;
}

.checkbox-interior {
    display: none;
}

.checkbox-interior:checked+.btn-label-interior {
    background-color: #FF5655;
}

.checkbox-interior:checked+.btn-label-interior::before {
    color: #FFF;
}

.btn-label-interior {
    display: block;
    width: 70px;
    height: 20px;
    background-color: #FFF;
    text-align: center;
    border-radius: 100vh;
    border: 3px solid #FF5555;
    cursor: pointer;
    margin-left: 10px;
}

.btn-label-interior::before {
    content: "インテリア";
    font-size: 10px;
    color: #FF5555;
}

.checkbox-interior {
    display: none;
}

.checkbox-interior:checked+.btn-label-interior {
    background-color: #FF5655;
}

.checkbox-interior:checked+.btn-label-interior::before {
    color: #FFF;
}

.btn-label-ladies {
    display: block;
    width: 70px;
    height: 20px;
    background-color: #FFF;
    text-align: center;
    border-radius: 100vh;
    border: 3px solid #FF5555;
    cursor: pointer;
    margin-left: 10px;
}

.btn-label-ladies::before {
    content: "レディース";
    font-size: 10px;
    color: #FF5555;
}

.checkbox-ladies {
    display: none;
}

.checkbox-ladies:checked+.btn-label-ladies {
    background-color: #FF5655;
}

.checkbox-ladies:checked+.btn-label-ladies::before {
    color: #FFF;
}

.btn-label-mens {
    display: block;
    width: 70px;
    height: 20px;
    background-color: #FFF;
    text-align: center;
    border-radius: 100vh;
    border: 3px solid #FF5555;
    cursor: pointer;
    margin-left: 10px;
}

.btn-label-mens::before {
    content: "メンズ";
    font-size: 10px;
    color: #FF5555;
}

.checkbox-mens {
    display: none;
}

.checkbox-mens:checked+.btn-label-mens {
    background-color: #FF5655;
}

.checkbox-mens:checked+.btn-label-mens::before {
    color: #FFF;
}

.btn-label-cosmetics {
    display: block;
    width: 70px;
    height: 20px;
    background-color: #FFF;
    text-align: center;
    border-radius: 100vh;
    border: 3px solid #FF5555;
    cursor: pointer;
    margin-left: 10px;
}

.btn-label-cosmetics::before {
    content: "コスメ";
    font-size: 10px;
    color: #FF5555;
}

.checkbox-cosmetics {
    display: none;
}

.checkbox-cosmetics:checked+.btn-label-cosmetics {
    background-color: #FF5655;
}

.checkbox-cosmetics:checked+.btn-label-cosmetics::before {
    color: #FFF;
}

.btn-label-books {
    display: block;
    width: 70px;
    height: 20px;
    background-color: #FFF;
    text-align: center;
    border-radius: 100vh;
    border: 3px solid #FF5555;
    cursor: pointer;
    margin-left: 10px;
}

.btn-label-books::before {
    content: "ブック";
    font-size: 10px;
    color: #FF5555;
}

.checkbox-books {
    display: none;
}

.checkbox-books:checked+.btn-label-books {
    background-color: #FF5655;
}

.checkbox-books:checked+.btn-label-books::before {
    color: #FFF;
}

.btn-label-games {
    display: block;
    width: 70px;
    height: 20px;
    background-color: #FFF;
    text-align: center;
    border-radius: 100vh;
    border: 3px solid #FF5555;
    cursor: pointer;
    margin-left: 10px;
}

.btn-label-games::before {
    content: "ゲーム";
    font-size: 10px;
    color: #FF5555;
}

.checkbox-games {
    display: none;
}

.checkbox-games:checked+.btn-label-games {
    background-color: #FF5655;
}

.checkbox-games:checked+.btn-label-games::before {
    color: #FFF;
}

.btn-label-sports {
    display: block;
    width: 70px;
    height: 20px;
    background-color: #FFF;
    text-align: center;
    border-radius: 100vh;
    border: 3px solid #FF5555;
    cursor: pointer;
    margin-left: 10px;
}

.btn-label-sports::before {
    content: "スポーツ";
    font-size: 10px;
    color: #FF5555;
}

.checkbox-sports {
    display: none;
}

.checkbox-sports:checked+.btn-label-sports {
    background-color: #FF5655;
}

.checkbox-sports:checked+.btn-label-sports::before {
    color: #FFF;
}

.btn-label-kitchen {
    display: block;
    width: 70px;
    height: 20px;
    background-color: #FFF;
    text-align: center;
    border-radius: 100vh;
    border: 3px solid #FF5555;
    cursor: pointer;
    margin-left: 10px;
}

.btn-label-kitchen::before {
    content: "キッチン";
    font-size: 10px;
    color: #FF5555;
}

.checkbox-kitchen {
    display: none;
}

.checkbox-kitchen:checked+.btn-label-kitchen {
    background-color: #FF5655;
}

.checkbox-kitchen:checked+.btn-label-kitchen::before {
    color: #FFF;
}

.btn-label-handmade {
    display: block;
    width: 70px;
    height: 20px;
    background-color: #FFF;
    text-align: center;
    border-radius: 100vh;
    border: 3px solid #FF5555;
    cursor: pointer;
    margin-left: 10px;
}

.btn-label-handmade::before {
    content: "ハンドメイド";
    font-size: 10px;
    color: #FF5555;
}

.checkbox-handmade {
    display: none;
}

.checkbox-handmade:checked+.btn-label-handmade {
    background-color: #FF5655;
}

.checkbox-handmade:checked+.btn-label-handmade::before {
    color: #FFF;
}

.btn-label-accessories {
    display: block;
    width: 70px;
    height: 20px;
    background-color: #FFF;
    text-align: center;
    border-radius: 100vh;
    border: 3px solid #FF5555;
    cursor: pointer;
    margin-left: 10px;
}

.btn-label-accessories::before {
    content: "アクセサリー";
    font-size: 10px;
    color: #FF5555;
}

.checkbox-accessories {
    display: none;
}

.checkbox-accessories:checked+.btn-label-accessories {
    background-color: #FF5655;
}

.checkbox-accessories:checked+.btn-label-accessories::before {
    color: #FFF;
}

.btn-label-toys {
    display: block;
    width: 70px;
    height: 20px;
    background-color: #FFF;
    text-align: center;
    border-radius: 100vh;
    border: 3px solid #FF5555;
    cursor: pointer;
    margin-left: 10px;
}

.btn-label-toys::before {
    content: "おもちゃ";
    font-size: 10px;
    color: #FF5555;
}

.checkbox-toys {
    display: none;
}

.checkbox-toys:checked+.btn-label-toys {
    background-color: #FF5655;
}

.checkbox-toys:checked+.btn-label-toys::before {
    color: #FFF;
}

.btn-label-babiesAndKids {
    display: block;
    width: 70px;
    height: 20px;
    background-color: #FFF;
    text-align: center;
    border-radius: 100vh;
    border: 3px solid #FF5555;
    cursor: pointer;
    margin-left: 10px;
}

.btn-label-babiesAndKids::before {
    content: "ベビー・キッズ";
    font-size: 10px;
    color: #FF5555;
}

.checkbox-babiesAndKids {
    display: none;
}

.checkbox-babiesAndKids:checked+.btn-label-babiesAndKids {
    background-color: #FF5655;
}

.checkbox-babiesAndKids:checked+.btn-label-babiesAndKids::before {
    color: #FFF;
}

.btn {
    width: 600px;
    height: 40px;
    background-color: #FF5555;
    color: #FFF;
}