.error-message {
    color: #FF5555;
}

.input {
    border: 1px solid #000;
    width: 600px;
    height: 40px;
    margin-bottom: 30px;
}

.btn {
    width: 600px;
    height: 40px;
    background-color: #FF5555;
    color: #fff;
}

.inner {
    width: 70%;
}

.inner-header {
    text-align: center;
}

.login-text-container {
    text-align: center;
    margin-top: 20px;
}

.login-text {
    text-decoration: none;
}