.error-message {
    color: #FF5555;
}

.upper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}

.skt-btn {
    display: block;
    width: 200px;
    height: 40px;
    padding: 10px 0;
    color: #ff5555;
    background-color: #FFF;
    border: 1px solid #ff5555;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

.bottom {
    display: flex;
    border-bottom: 1px solid #000;
}

.exhibition-btn:active {
    color: #ff5555;
}

.purchase {
    margin-left: 30px;
}

.purchase-btn:active {
    color: #ff5555;
}

.container {
    width: 100%;
}

.group {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.compartment {
    list-style: none;
    width: 24%;
    margin-bottom: 20px;
}

.stars {
    font-size: 32px;
    color: gray;
}

.stars .filled {
    color: yellow;
}