.error-message {
    color: #FF5555;
}

.upper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}

.skt-btn {
    display: block;
    width: 200px;
    height: 40px;
    padding: 10px 0;
    color: #ff5555;
    background-color: #FFF;
    border: 1px solid #ff5555;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

.bottom {
    display: flex;
    border-bottom: 1px solid #000;
}

.exhibition-btn:active {
    color: #ff5555;
}

.purchase {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}

.purchase-btn:active {
    color: #ff5555;
}

.container {
    width: 100%;
}

.group {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.compartment {
    list-style: none;
    width: 20%;
    margin-bottom: 20px;
    margin-left: 20px;
}

.stars {
    font-size: 32px;
    color: gray;
}

.stars .filled {
    color: yellow;
}

.product-info {
    display: flex;
    flex-direction: row;
}

.icon-wrapper {
    position: relative;
    display: inline-block;
}

.badge {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: red;
    color: #FFF;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    text-align: center;
}