.total-container {
    display: flex;
}

.left-container {
    width: 50%;
}

.right-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.title-name {
    font-size: 30px;
}

.btn-group {
    display: flex;
    flex-direction: row;
}

.btn {
    width: 100%;
    background-color: #FF5555;
    color: #fff;
}

.subtitle {
    font-size: 20px;
}

.item-label {
    font-size: 15px;
}