.total-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.side-bar {
    width: 20%;
    background-color: #868686;
}

.center {
    width: 80%;
    height: 100%;
}

.center-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title-bar-container {
    height: 10%;
    display: flex;
    flex-direction: row;
}

.product-info-container {
    height: 20%;
    border-top: 2px solid #000;
}

.message-container {
    height: 70%;
    border-top: 2px solid #000;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.modal__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    border: 1px solid #868686;
    background-color: #FFAAAA;
    transform: translate(-50%, -50%);
}

.modal__content {
    position: relative;
    padding: 64px 64px;
}